@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cart_info{
    display: block;
    width: 25%;
    bottom: 0;
}
.header{
    text-align: center;
    margin: 30px 50px;
    font-size: 30px;
    font-family: 'Lobster Two';
    color: rgb(139, 37, 19);
}
.company_name{
    color: rgb(139, 37, 19);
    text-transform: uppercase;
    color: black;
    font-family: monospace;
    text-align: center;
    margin: 15px 50px;
}
.checkout{
    width: 235px;
    height: 40px;
    margin: 30px 50px;
    background-color: rgb(139, 37, 19);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}
.checkout:hover{
    opacity: 0.9;
}
.cart_details{
    margin: 10px;
    font-family: 'Lobster Two';
}
.total{
    text-transform: capitalize;
    font-family: fantasy;
}
.cart_icon{
    cursor: pointer;
    background-color: white;
    color: rgb(139, 37, 19);
    border: none;
    border-radius: 5px;
    padding-top: 7px;
}
.cart_icon:hover{
    opacity: 0.8;
}
@media only screen and (max-width: 960px){
    .cart_info{
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        height: 60vh !important;
        margin-top: auto;
        text-align: center;
        justify-content: center;
        flex: 1 0 auto;
    }
    .cart_details{
        text-align: left;
    }
    .total{
        text-align: left;
    }
    
}