.img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.container{
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 120px;
    left: 200px;
    width: 1000px;
    height: 500px;
    margin: 0 auto 100px;
    background: #fff;
    border-radius: 20px;
    background-position: center;
}
.logininput{
    font-size: 14px;
    line-height: 16px;
    width: 50%;
    padding: 10px 40px;
    margin: 15px 30px;
    border: 0.5px solid red;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 50px;
    outline: none;
}
.header{
    text-transform: uppercase;
    font-weight: 800;
    text-align: left;
    margin: 15px 30px;
    font-family: fantasy;
}
.user,.password {
    position: relative;
    width: 150%;
}
.user i{
    position: absolute;
    left: 40px;
    top: 20px;
    color: gray;
}
.password i{
    position: absolute;
    left: 40px;
    top: 20px;
    color: gray;
}
.button button{
    text-transform: uppercase;
    background-color: rgb(139, 37, 19);
    padding: 15px 24px;
    margin: 20px 90px;
    width: 50%;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}
.button button:hover{
    opacity: 0.8;
}
h3{
    margin: 5px 180px;
    font-family: 'Roboto', sans-serif;
}
.product{
    display: flex;
}
h1{
    text-transform: uppercase;
    text-align: center;
}
.product .image{
    display: flex;
    position: absolute;
    right: 10px;
}
@media only screen and (max-width: 960px){
    .container{
        margin-left: -200px;
        width: 100% !important;
        flex-direction: column !important;
        height: 107%;
        border-radius: 1px;
        justify-items: center;
    }
    .product{
        display: none !important;
    }
    .user, .password{
        margin: 20px;
    }
    .button button{
        padding: 20px 50px;
        /* white-space: nowrap; */
        margin-top: 50px;
        text-align: center;
    }
    h3{
        white-space: nowrap;
        margin-left: 115px;
        margin-top: 20px;
    }
}