@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.container{
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 180px;
    left: 450px;
    width: 600px;
    height: 450px;
    margin: 0 auto 100px;
    background: #fff;
    border-radius: 10px;
    background-position: center;
}
.wrapper>*:nth-child(1),.wrapper>*:nth-child(2){
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 14px 36px;
    outline: none;
}
form .wrapper{
    width: 100%;
    padding: 10px 0px;
    margin-top: 20px;
    margin-left: 28px;
    height: 70px;
}
.inputwrap>*:nth-child(1),.inputwrap>*:nth-child(2){
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 14px 36px;
    margin: 20px 0px;
    outline: none;
}
form .inputwrap{
    padding: 10px 0;
    margin: 10px 30px;
    height: 70px;
    width: 100%;
}
form .checkbox{
    margin-top: 100px;
    margin-left: 30px;
}
b{
    padding: 1.5rem 0.5rem;
    font-weight: bold;
    font-size: 20px;
}
.btn button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: rgb(139, 37, 19);
    border-radius: 10px;
    width: 75%;
    height: 35px;
    line-height: 35px;
    border: none;
    outline: none;
	cursor: pointer;
    font-size: 1.1em;
    margin: 3em 5em;
    color: white;
    font-family: 'lobster two', monospace;
}
.btn button:hover{
    opacity: 0.8;
}
.buttonLoad{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(139, 37, 19);
    border-radius: 10px;
    width: 75%;
    height: 35px;
    line-height: 35px;
    border: none;
    outline: none;
	cursor: pointer;
    font-size: 1.1em;
    margin: 3em 5em;
    color: white;
    font-family: 'lobster two', monospace;
}
h1{
    font-family: 'lobster two', monospace;
    text-align: center;
    margin-left: 10px;
}
::placeholder{
    opacity: 1;
}
input:invalid {
    background-color: #ffdddd;
}
  
@media only screen and (max-width: 960px){
    .container{
        width: 100% !important;
        padding: 0;
        margin: 0;
        left: 0;
    }
    form .wrapper{
        width:84%;
    }
    form .inputwrap{
        width: 84%;
    }
    h1{
        text-align: center;
        margin: 0;
    }
    .btn button{
        text-align: center;
        margin: 3em 2.5em;
    }
}